#botonsuma{
    
    
    width: 125px;
    height:125px;
    font-size: 60px;
    }
    #BotonMultiplicación{
        
 
        width: 125px;
        height:125px;
        font-size: 60px;
        }
     #BotonDivisión{
       
        
        
          width: 125px;
          height:125px;
           font-size: 60px;
            }
    
    
     #BotonModulo{
       
       
        width: 125px;
        height:125px;
         font-size: 60px;
                    }
     #resultado{
        
       
        font-size: 70px;
    
     }
    